body {
  margin: 0;
  padding: 0;
  background: #06113C;
  color: #EEEEEE;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}