.TodoCounter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF8C32;
    text-align: center;
    margin-bottom: 24px;
}

.TodoCounter--loading {
    color: #FF8C32;
    animation: TodoCounter--loading 1s infinite;
}

/* Language: css */

/* Path: src\TodoFilter.css */